#synapse
login	kristen.dang@sagebase.org
projectID	syn1972151
projectName
genomeRefID	syn1998780
transcriptomeRefID
GTFID	syn1998756
commonPrefix

# workflow step 1
folder	BAM
path	/external-data/DAT_107__common_mind/pilot1/bam
URL	http://tophat.cbcb.umd.edu/downloads/tophat-2.0.9.tar.gz
CMD	tophat  -o /Pilot /hg19/bwt2_index/new/hg19
softwareName	tophat 2.0.9
actName	Alignment
fileDescription	BAM format aligned reads
annotations	fileType,BAM;paired,yes;readLength,100;stranded,no;qualityFormat,Sanger;sorted,none;includeUnmapped,yes
used	syn1998780

# workflow step 2
folder	counts
path	/external-data/DAT_107__common_mind/pilot1/bam
URL	https://pypi.python.org/packages/source/H/HTSeq/HTSeq-0.5.4p3.tar.gz
CMD	'htseq-count -m intersection-strict -s no /projects/accepted_hits.novosort.sam /genes.gtf 1> /file.htseq 2> /file.err'
softwareName	'htseq 0.5.4'
actName	Counting
annotations	fileType,count;normalized,no;summaryLevel,Gene
used	syn1998756

# workflow step 3
folder	fusion
path	/external-data/DAT_107__common_mind/pilot1/bam
URL	https://pypi.python.org/packages/source/H/HTSeq/HTSeq-0.5.4p3.tar.gz
CMD	'htseq-count -m intersection-strict -s no /projects/accepted_hits.novosort.sam /genes.gtf 1> /file.htseq 2> /file.err'
softwareName	'RSEM 0.5.4'
actName	Isoform Quant
annotations	fileType,quant
used	syn1998756

